In [2]:
import pandas as pd
import numpy as np

In [3]:
# import movies
movies = pd.read_csv('movies.csv')

# remove the empty line
movies = movies.dropna(thresh=9)

display(movies.head())
display(movies.dtypes)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Release year,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,1989,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,1989,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,1989,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,1989,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,1989,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Release year      int64
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [4]:
#import inflation rate
inf = pd.read_csv('world-inflation-rate-cpi.csv')

display(inf.tail())
display(inf.dtypes)

    Year  Inflation Rate  Annual Change  Value of dollar
36  2017          2.1920           0.64              NaN
37  2018          2.4387           0.25              NaN
38  2019          2.1869          -0.25              NaN
39  2020          1.9210          -0.27              NaN
40  2021          3.4236           1.50              NaN

Year                 int64
Inflation Rate     float64
Annual Change      float64
Value of dollar    float64
dtype: object

In [5]:
# calculate value of dollar for every year, compared to previous year
for i, row in inf.iloc[::-1].iterrows():
    if i+1 in inf.index:
        prev_year = inf.loc[i+1]
        inf.loc[i, 'Value of dollar'] = prev_year['Value of dollar'] + (prev_year['Value of dollar'] * row['Inflation Rate'] / 100)
    else:
        inf.loc[i, 'Value of dollar'] = 1

display(inf)

    Year  Inflation Rate  Annual Change  Value of dollar
0   1981         12.4716            NaN         7.973794
1   1982         10.2403          -2.23         7.089606
2   1983          8.7711          -1.47         6.431048
3   1984          8.1164          -0.65         5.912460
4   1985          6.8568          -1.26         5.468606
5   1986          5.8227          -1.03         5.117696
6   1987          5.7565          -0.07         4.836104
7   1988          7.1461           1.39         4.572867
8   1989          6.9991          -0.15         4.267880
9   1990          8.1274           1.13         3.988706
10  1991          8.9985           0.87         3.688895
11  1992          7.7139          -1.28         3.384354
12  1993          7.5054          -0.21         3.141984
13  1994         10.3172           2.81         2.922629
14  1995          9.1539          -1.16         2.649296
15  1996          6.5510          -2.60         2.427120
16  1997          5.5723          -0.98         2.277895
17  1998          5.1102          -0.46         2.157664
18  1999          3.0795          -2.03         2.052763
19  2000          3.4945           0.42         1.991437
20  2001          3.8383           0.34         1.924196
21  2002          2.8344          -1.00         1.853070
22  2003          3.0320           0.20         1.801994
23  2004          3.3826           0.35         1.748965
24  2005          4.1122           0.73         1.691741
25  2006          4.2824           0.17         1.624921
26  2007          4.8168           0.53         1.558192
27  2008          8.9530           4.14         1.486587
28  2009          2.9362          -6.02         1.364429
29  2010          3.3548           0.42         1.325510
30  2011          4.8224           1.47         1.282485
31  2012          3.7253          -1.10         1.223484
32  2013          2.6211          -1.10         1.179542
33  2014          2.3463          -0.27         1.149415
34  2015          1.4343          -0.91         1.123064
35  2016          1.5500           0.12         1.107184
36  2017          2.1920           0.64         1.090285
37  2018          2.4387           0.25         1.066898
38  2019          2.1869          -0.25         1.041499
39  2020          1.9210          -0.27         1.019210
40  2021          3.4236           1.50         1.000000

In [6]:
# merge 2 datasets
movies = movies.merge(inf[['Year', 'Value of dollar']], left_on='Release year', right_on='Year')

# before
display(movies[['Title', 'Release year', 'Budget', 'Gross', 'Value of dollar']].tail())

# adjust budget and gross
movies['Budget'] = movies['Budget'] * movies['Value of dollar']
movies['Gross'] = movies['Gross'] * movies['Value of dollar']

# round the values
movies['Budget'].round()
movies['Gross'].round()

movies = movies.astype({'Budget': 'int', 'Gross': 'int'})

#after
display(movies[['Title', 'Release year', 'Budget', 'Gross', 'Value of dollar']].tail())

,Title,Release year,Budget,Gross,Value of dollar
610,Black Panther,2018,200000000.0,1.347000e+09,1.066898
611,Incredibles 2,2018,200000000.0,1.242000e+09,1.066898
612,Fantanstic Beasts: The Crimes of Grindelwald,2018,200000000.0,6.538000e+08,1.066898
613,Solo: A Star Wars Story,2018,275000000.0,3.929000e+08,1.066898
614,Avengers: Infinity War,2018,400000000.0,2.048000e+09,1.066898

,Title,Release year,Budget,Gross,Value of dollar
610,Black Panther,2018,213379628,1437111797,1.066898
611,Incredibles 2,2018,213379628,1325087492,1.066898
612,Fantanstic Beasts: The Crimes of Grindelwald,2018,213379628,697538005,1.066898
613,Solo: A Star Wars Story,2018,293396989,419184280,1.066898
614,Avengers: Infinity War,2018,426759256,2185007395,1.066898

'The War of the Roses'

'The War of the Roses'